//typography
$main_font: 'Montserrat', sans-seri;

//Palette
$green: #4CB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;
$gray: #E1E1E1;

//Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;